{% extends 'users/base.html' %}

{% block content %}
{% load static %}
    <main style="margin-top: calc(2rem + 85px);">
        <section>
            <div class="container">
                <div class="row">
                    <div class="card col-12 p-3 mb-5 foodplan__shadow">
                        <h4 class="foodplan__backButton">
                            <strong><small><a href="#" class="link-secondary fw-light"></a></small></strong>
                        </h4>
                        <h2 class="text-center"><strong>Личный кабинет</strong></h2>
                    </div>
                    
                    <div class="card col-12 col-md-2 p-3 mb-3 d-flex flex-column align-items-center foodplan__shadow">
                        <div class="position-relative">
                            <img src="{% if user.image %} {{ user.image.url }} {% else %} {% static 'img/test_avatar.png' %} {% endif %}" alt="" width="100" height="100" class="rounded-pill">
                        </div>
                        <h3 class="card-title text-center">"{{ user.username }}"</h3>
                        <div class="d-block">
                            <button class="btn btn-outline-success shadow-none foodplan_green foodplan__border_green"
                            onclick="window.location.href='{% url 'users:logout' %}'">Выйти</button>
                        </div>
                    </div>

                    <div class="card col-12 col-md-10 p-3 mb-3 foodplan__shadow">
                            <ul class="nav nav-tabs">
                                <li class="nav-item foodplan__tab-item">
                                    <button id="tab1" class="btn shadow-none foodplan__tab-button active" data-bs-toggle="tab" data-bs-target="#data">Персональные данные</button>
                                </li>
                                <li class="nav-item foodplan__tab-item">
                                    <button id="tab2" class="btn shadow-none foodplan__tab-button" data-bs-toggle="tab" data-bs-target="#menu">Моё меню</button>
                                </li>
                                <li class="nav-item foodplan__tab-item flex-grow-1"></li>
                            </ul>
                            <div class="tab-content mt-2">
                                <div class="tab-pane fade show active" id="data">
                                    <form action="{% url 'users:profile' %}" method="post" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <div class="mb-3">
                                            <div class="d-flex align-items-center justify-content-between">
                                                <label for="{{ form.username.id_for_label }}" class="form-label">Логин</label>
                                            </div>
                                        
                                            {{ form.username }}
                                        </div>
                                        <div class="mb-3">
                                            <label for="{{ form.email.id_for_label }}" class="form-label">Email</label>
                                            {{ form.email }}
                                        </div>
                                        <div class="mb-3">
                                            <label for="{{ form.image.id_for_label}}" class="custom-file">Фото</label>
                                            {{ form.image }}
                                        </div>
                                        <div class="d-block">
                                            <button type="submit" class="btn shadow-none btn-outline-success foodplan_green foodplan__border_green">Сохранить
                                                изменения</button>
                                        </div>
                                    </form>
                                    {% if form.errors %}
                                        <div class="alert alert-warning alert-dismissible fade show" role="alert"
                                        style="margin-top: 50px;">
                                        {{ form.errors }}
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="tab-pane fade" id="menu">
                                    <div class="row">
<!--                                        <div class="col-2">-->
<!--                                            <img src="{% static 'img/circle1.png'%}" alt="" class="w-100">-->
<!--                                        </div>-->
                                        <div class="col-10 col-md-10">
                                            <div class="row">
                                                <div class="col-12">
                                                    {% for order in orders %}

                                                    <h2>{{order}}</h2>
                                                </div>
                                                <div class="col-md-12 col-lg-9">

                                                    {% for i in order.days %}

                                                    <h6>
                                                        <h5>День {{i.num}}: <br></h5>
                                                        {% if i.breakfast %}
                                                        {% if i.breakfast == "время голодать" %}
                                                            <p>Завтрака нет: {{i.breakfast}}</p>
                                                        {% else %}
                                                            <p><a href="{% url 'card' %}?receipt_id={{i.breakfast.id}}&next={{path}}">Завтрак: {{i.breakfast.name}}</a></p>
                                                            <div class="col-2">
                                                                <img src="{% if i.breakfast.image %} {{ i.breakfast.image.url }} {% else %} {% static 'img/circle1.png' %} {% endif %}"
                                                                     alt="" class="w-100">
                                                            </div>
                                                        {% endif %}
                                                        {% endif %}
                                                        {% if i.dinner %}
                                                        {% if i.dinner == "время голодать" %}
                                                            <p>Обеда нет: {{i.dinner}}</p>
                                                        {% else %}
                                                            <p><a href="{% url 'card' %}?receipt_id={{i.dinner.id}}&next={{path}}">Обед: {{i.dinner.name}}</a></p>
                                                            <div class="col-2">
                                                                <img src="{% if i.dinner.image %} {{ i.dinner.image.url }} {% else %} {% static 'img/circle1.png' %} {% endif %}"
                                                                    alt="" class="w-100">
                                                            </div>


                                                        {% endif %}
                                                        {% endif %}
                                                        {% if i.supper %}
                                                        {% if i.supper == "время голодать" %}
                                                            <p>Ужина нет: {{i.supper}}</p>
                                                        {% else %}
                                                            <p><a href="{% url 'card' %}?receipt_id={{i.supper.id}}&next={{path}}">Ужин: {{i.supper.name}}</a></p>
                                                            <div class="col-2">
                                                                <img src="{% if i.supper.image %} {{ i.supper.image.url }} {% else %} {% static 'img/circle1.png' %} {% endif %}"
                                                                     alt="" class="w-100">
                                                            </div>
                                                        {% endif %}
                                                        {% endif %}
                                                        {% if i.dessert %}
                                                        {% if i.dessert == "время голодать" %}
                                                            <p>Десерта нет: {{i.dessert}}</p>
                                                        {% else %}
                                                            <p><a href="{% url 'card' %}?receipt_id={{i.dessert.id}}&next={{path}}">Десерт: {{i.dessert.name}}</a></p>
                                                            <div class="col-2">
                                                                <img src="{% if i.supper.image %} {{ i.supper.image.url }} {% else %} {% static 'img/circle1.png' %} {% endif %}"
                                                                     alt="" class="w-100">
                                                            </div>
                                                        {% endif %}
                                                        {% endif %}
                                                    </h6>
                                                    {% endfor %}
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}